body{
    background: linear-gradient(#020331,#1e0136);
    font-family: Jost;
    color:white;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#title{
    text-align: center;
}